<h2>All Books</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Available</th>
            {{#if user}}
            <th>Actions</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each books}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.year}}</td>
            <td>{{#if this.available}}Yes{{else}}No{{/if}}</td>
            {{#if ../user}}
            <td>
                <a href="/books/edit/{{this._id}}">Edit</a> |
                <form action="/books/delete/{{this._id}}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>
{{#if user}}
<a href="/books/add">Add New Book</a>
{{/if}}
